<div class="container-fluid">
    <div class="">
        <div class="row">
            <div class="col-md-7">
                <a href="#!/brand" class="btn btn-primary" role="button">Atras</a>
                <h1>{{brand.company}}</h1>
                <img style="height: 100px;" ng-src="{{brand.logo}}" alt="">
                <h2>Mapa</h2>
                <img class="img-responsive" src="http://www.axismaps.com/media/posts/2014/10/geog_of_jobs.jpg" alt="">

            </div>
            <div class="col-md-5">
                
                <form action="">
                    <label for="sel1">Address from client: </label>
                    <select disabled class="form-control" id="sel1">
                        <option>{{brand.address}}</option>
                    </select>
                    <br>
                    <div ng-show="destination"> 
                    <label for="sel1">Destination</label>
                    <span disabled class="form-control" id="sel1">
                        <option>{{destination.name}}</option>
                    </span>
                    </div>
                    <br>
                    <!-- Single button -->
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            Select one destination <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-click="stopEvent($event)" role="presentation">
                                <div class="input-group input-group-sm search-control"> 
                                    <span style="background-color: #6a1c8a;color: white;border-radius: 5px;" class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                </div>
                            </li>
                             <li ng-click="selectedItem(item)" role="presentation" ng-repeat='item in items | filter:query'> <a href=""> {{item.name}} </a>
                        </ul>
                    </div>
                </form>

                <div class="col-md-12 container">
  <h2>Animated Progress Bar</h2>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
    80% FedEx 
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
    50% Estafeta
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% DHL
  </div>
</div>
</div>

            </div>


        </div>
    </div>
</div>