<div class="container-fluid">
    <div class="">
        <div class="row">
            <div class="col-md-7">
                <a href="#!/brand" class="btn btn-primary" role="button">Atras</a>
                <h1>{{brand.company}}</h1>
                <img style="height: 100px;" ng-src="{{brand.logo}}" alt="">
                <h2>Mapa</h2>
                <img class="img-responsive" src="http://www.axismaps.com/media/posts/2014/10/geog_of_jobs.jpg" alt="">

            </div>
            <div class="col-md-5">
                
                <form action="">
                    <label for="sel1">Address from client: </label>
                    <select disabled class="form-control" id="sel1">
                        <option>{{brand.address}}</option>
                    </select>
                    <br>
                    <div ng-show="destination"> 
                    <label for="sel1">Destination</label>
                    <span disabled class="form-control" id="sel1">
                        <option>{{destination.name}}</option>
                    </span>
                    </div>
                    <br>
                    <!-- Single button -->
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            Select one destination <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-click="stopEvent($event)" role="presentation">
                                <div class="input-group input-group-sm search-control"> 
                                    <span style="background-color: #6a1c8a;color: white;border-radius: 5px;" class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                                </div>
                            </li>
                             <li ng-click="selectedItem(item)" role="presentation" ng-repeat='item in items | filter:query'> <a href=""> {{item.name}} </a>
                        </ul>
                    </div>
                </form>

                <div class="col-md-12 container">
  <h3>Dynamic <button type="button" class="btn btn-sm btn-primary" ng-click="random()">Randomize</button></h3>
    <uib-progressbar max="max" value="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span></uib-progressbar>
    
    <small><em>No animation</em></small>
    <uib-progressbar animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b></uib-progressbar>

    <small><em>Object (changes type based on value)</em></small>
    <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
    
    <hr />


        </div>
    </div>
</div>