<div class="container-fluid cards-row">
    <div class="container">
        <div class="row">

            <div ng-repeat="brand in brands"  class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img  ng-src="{{brand.logo}}" alt="Bootstrap Thumbnail: Beautiful Bootstrap Thumbnail like Material Design Cards">
                    <div class="caption">
                        <h3>{{brand.company}} </h3>
                        <p class="card-description"><strong>Contacto: </strong>{{brand.contact}}</p>
                        <p class="card-description"><strong>Teléfono: </strong>{{brand.telephone}}</p>
                        <p class="card-description"><strong>País: </strong>{{brand.country}}</p>
                        <p class="card-description"><strong>RFC: </strong>{{brand.rfc}}</p>                        
                        <p>
                            <a  class="btn btn-success" ui-sref="app({ brandId: brand.id })">Entrar</a>
                            <a  class="btn btn-info"    ui-sref="edit({ brandId: brand.id })">Editar</a>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>